.countrydetails {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.currcountrynameflag {
    display: block;
    width: 42vw;
}

.currcountrydetails {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.neighborhood {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 20px;
}

.flag {
    display: block;
    width: auto;
    height: 70%;
}
.currcountrydata {
    margin: 20px;
    margin-top: auto;
    position: relative;
    bottom: 30px;
    width: 50vw;
}
.currcountrydata p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.neighborhoodcountries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.neighborhoodcountries img {
    width: 200px;
    height: auto;
    margin: 10px;
}

@media only screen and (max-width: 1000px){
  .currcountrydetails{
      flex-direction: column;
      height: auto;
  }
  .flag {
      width: 100%;
      height: auto;
  }
  .currcountrydata {
      bottom: unset;
  }
  .neighborhoodcountries img {
      width: 100%;
  }
}