.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.title {
  color: black;
  width: 40vw;
  font-size: 1.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  text-align: left;
}

.searchbar {
  height: 40px;
  width: 40vw;
  font-size: 1.2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;
  background: url("https://img.icons8.com/pastel-glyph/64/000000/search--v1.png") top right no-repeat;
  background-size: contain;
  border: 1px solid #3b3b3b;
  min-width: 435px;
}

.countries {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.country {
  border: 1px solid grey;
  margin: 5px;
  margin-left: 0;
  margin-right: 0;
  height: 150px;
  display: flex;
  min-width: 435px;
}
.flag {
  width: 200px;
  height: 130px;
  margin: 10px;
  border: 1px solid grey;
}
.countrydetails {
  width: 100%;
  padding-right: 10px;
}
.countryname {
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin: 10px;
  margin-left: 0px;
  font-weight: 500;
}
.countrycurrency {
  font-size: 0.8em;
  color: black;
}
.countrydatetime {
  font-size: 0.8em;
  color: black;
}
.button{
  width: 45%;
  height: 30px;
  border: 2px solid blue;
  background-color: white;
  color: blue;
  margin: 5px;
}
.button:active {
  background-color: lightblue;
}

@media only screen and (max-width: 650px){
  .container {
    justify-content: left;
    align-items: baseline;
  }
}